body {
  background-color: #0E0E10;
  font-family:Arial;
}

h1 {
  text-align:center;
  color:white;
}

* {
  box-sizing: border-box;
}

#freePerkCountDiv {
  text-align:center;
  font-size:20px;
}

.redText {
  color:red;
}

.whiteText{
  color:white:
}

#activeSkillNameAndLevel {
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
  font-size:25px;
  padding:5px;
}

#activeSkillLevelInput {
  margin-left:10px;
  width:90px;
  font-size:25px;
  background: rgba(0, 0, 0, 0.0);
  color:white;
  text-align:right;
}

#highlightedPerkDiv{
  display:none;
  position:fixed;
  max-width:600px;
  background:lightyellow;
  padding:5px;
  border:1px solid black;
}

#highlightedPerkName {
  text-align:center;
  font-size:20px;
}

#highlightedPerkDesc, #highlightedNextPerkDesc {
  margin-top:10px;
  margin-left:5px;
  margin-right:5px;
  text-align:center;
  font-size:16px;
}

#mainSkillDisplayDiv {
  margin:auto;
  max-width:1400px;
  min-width:1200px;
  border: 1px solid black;
  display: flex;
  /*flex-wrap: wrap;*/
  padding: 3px;
  background-color:slateblue;
  color:white;
}

#activeSkillDisplaySVG {
  min-width:500px;
  width:550px;
  height:550px;
  margin:auto;
  display:block;
}

#activeSkillDisplaySVGDiv{
  border-bottom: 2px solid black;
}

#activeSkillDisplayDiv {
  float:left;
  width:40%;
  min-width:400px;
  margin:5px;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

#leftSkillDisplayDiv {
  display:table;
  /*border-collapse:collapse;*/
  border-spacing:3px;
  float:left;
  width:25%;
  min-width:300px;
  height:0px;
}

#rightStatsPanelDiv {
  width:32%;
  min-width:400px;
  padding:3px;
}

.leftSkillDisplayRowDiv {
  display:table-row;
}

.miniSkillTreeDiv {
  display: table-cell;
  padding: 5px;
  border-style:solid;
  border-width: 2px;
  border-color:transparent;
  width: 31%;
  min-width: 80px;
}

.miniSkillTreeDivSelected{
  border: 2px solid red;
}

.miniSkillTreeSVG {
  width:80px;
  height:80px;
  display:block;
  margin:auto;
}

.miniSkillTreeName {
  text-align:center;
}

.miniSkillTreeLevel {
  text-align:center;
}

svg > text, .unselectable {
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.subsectionTitle{
  text-align:center;
  font-size:24px;
  margin-top:5px;
  margin-bottom:5px;
}

.subsectionSubtitle{
  text-align:center;
  font-size:20px;
  margin-bottom:2px;
  margin-top:2px;
}

.selectInputWithLabel {
  font-size:20px;
  margin-top:5px;
  margin-bottom:5px;
}

.selectInputWithLabel select {
  float:right;
  width:65%;
  font-size:14px;
}

.selectInputWithSmallLabel {
  font-size:16px;
  margin-top:5px;
  margin-bottom:5px;
  text-align:center;
}

.selectInputWithSmallLabel select {
  float:right;
  width:40%;
  font-size:14px;
}

.statsSubsectionDiv {
  margin:5px;
  padding:3px;
  border-bottom: 2px solid black;
}

#rulesTitle{
  color:yellow;
}

#presetCustomOptionsDiv{
  display:none;
  position:absolute;
  background:blue;
  min-width:500px;
  border:2px solid black;
  padding:10px;
  background-color:blue;
}

.clickableText{
  cursor:pointer;
}

#activeSkillControlsDiv{
  padding:5px;
}

#resetButtonsDiv{
  display:flex;
  justify-content:center;
}

#resetButtonsDiv button{
  font-size:16px;
  margin-left:10px;
  margin-right:10px;
}

#attributesToSpendDiv{
  font-size: 16px;
  text-align:center;
  margin-top:5px;
  margin-bottom:15px;
}

.numberInputWithLabel{
  float:right;
}

.numberInputWithLabel input {
  width:50px;
  text-align:right;
  font-size:14px;
}

.attributeInputAndLabelDiv {
  text-align:left;
  margin-left:20%;
  margin-bottom:10px;
}
